absl-py==2.3.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.4
aiosignal==1.3.2
aistudio-sdk==0.3.8
albucore==0.0.24
albumentations==2.0.8
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==25.4.0
backports.tarfile==1.2.0
bce-python-sdk==0.9.46
beautifulsoup4==4.14.2
cachetools==5.5.2
cattrs==25.1.0
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
chromedrivermanager==0.0.1
click==8.1.8
cnstd==1.2.5.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.3.0
coremltools==8.3.0
cryptography==46.0.3
cssselect==1.3.0
cssutils==2.11.1
curl_cffi==0.13.0
customtkinter==5.2.2
cycler==0.12.1
Cython==3.1.5
darkdetect==0.8.0
dataclasses-json==0.6.7
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
distro==1.9.0
easyocr==1.6.2
edit-distance==1.0.6
editdistance==0.8.1
efficientnet==1.0.0
einops==0.8.1
essential-generators==1.0
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.3.0
filelock==3.19.1
fire==0.7.1
flatbuffers==25.9.23
fonttools==4.60.1
fpdf==1.7.2
fpdf2==2.8.4
frozendict==2.4.7
frozenlist==1.6.0
fsspec==2025.10.0
ftfy==6.3.1
future==1.0.0
gast==0.6.0
geocoder==1.38.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
GPUtil==1.4.0
greenlet==3.2.2
grpcio==1.72.1
h11==0.16.0
h5py==3.13.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.3
humanfriendly==10.0
idna==3.11
imageio==2.37.0
imagesize==1.4.1
imgaug==0.4.0
importlib_metadata==8.7.1
importlib_resources==6.5.2
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
Keras-Applications==1.0.8
keyboard==0.13.5
keyring==25.7.0
kiwisolver==1.4.7
langchain==0.2.17
langchain-community==0.2.17
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langsmith==0.1.147
lazy_loader==0.4
Levenshtein==0.27.1
libclang==18.1.1
lightning-utilities==0.14.3
lmdb==1.6.2
lxml==6.0.2
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
marshmallow-enum==1.5.1
matplotlib==3.9.4
mdurl==0.1.2
ml-dtypes==0.3.2
modelscope==1.31.0
more-itertools==10.8.0
MouseInfo==0.1.3
mplfinance==0.12.10b0
mpmath==1.3.0
multidict==6.4.4
multitasking==0.0.12
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.2.1
ninja==1.13.0
nptyping==2.5.0
numpy==2.0.2
oauthlib==3.2.2
ocrd-fork-adabelief_tf==0.2.1
ocrd-fork-tfaip==1.2.7
onnx==1.18.0
onnxruntime==1.19.2
openai==1.63.2
opencv-contrib-python==4.10.0.84
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.16.0
orjson==3.10.18
outcome==1.3.0.post0
packaging==25.0
paddleocr==2.10.0
paddlepaddle==2.6.2
paddlex==3.3.4
paiargparse==1.1.2
pandas==2.3.3
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
peewee==4.0.4
pefile==2023.2.7
pikepdf==9.11.0
pillow==11.3.0
platformdirs==4.3.8
playwright==1.59.0
pooch==1.4.0
premailer==3.10.0
prettytable==3.16.0
propcache==0.3.1
protobuf==6.33.1
psutil==7.1.3
py-cpuinfo==9.0.0
pyaml==25.5.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycocotools==2.0.9
pycparser==2.23
pycryptodome==3.22.0
pycryptodomex==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
pyee==13.0.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyMsgBox==2.0.1
PyMuPDF==1.26.5
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.11.0
pypiwin32==223
pyproj==3.6.1
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-Levenshtein==0.27.1
pytorch-lightning==2.5.1.post0
pytweening==1.2.0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.3
RapidFuzz==3.13.0
rapidocr-onnxruntime==1.4.4
ratelim==0.1.6
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.4
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.25.1
rsa==4.9.1
ruamel.yaml==0.18.12
ruamel.yaml.clib==0.2.12
safetensors==0.5.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
selenium==4.36.0
Send2Trash==1.8.3
sentry-sdk==2.30.0
setproctitle==1.3.6
shapely==2.0.7
simplejson==3.20.2
simsimd==6.5.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy==2.0.41
stringzilla==4.2.1
sympy==1.14.0
tenacity==8.5.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow-addons==0.22.0
tensorflow-cpu==2.16.2
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.9.0
tkintermapview==1.29
tomli==2.2.1
torch==2.1.0+cpu
torchmetrics==1.7.2
torchvision==0.16.0+cpu
tqdm==4.67.1
trio==0.31.0
trio-websocket==0.12.2
twder==0.2.2
twstock==1.4.6
typeguard==2.13.3
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.10.0
ultralytics==8.3.154
ultralytics-thop==2.0.14
undetected-chromedriver==3.5.5
Unidecode==1.4.0
urllib3==2.5.0
validators==0.35.0
wandb==0.20.1
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==2.0.0
wsproto==1.2.0
xlrd==1.2.0
XlsxWriter==3.2.3
yapf==0.43.0
yarl==1.20.0
yfinance==1.2.0
zipp==3.23.1
